---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
  <center>

    <div class="professor">
    {% for member in site.team %}
    {% if member.position == "Professor" %}
      <div class="member">
        <a href="{{ member.url }}">

          <img src="{{ member.lastname }}.png" class="photo">

          <div class="team-info-overlay">
            <h3 class="team-info">{{ member.position }}</h3>
          </div>

          <p>{{ member.name }} {{ member.lastname }}</p>
        </a>
      </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Team Members</h2>
  <div class="team-members">
    {% for member in site.team %}
    {% if member.position != "Professor" and member.position != "Former" %}
      <div class="member">

        <a href="{{ member.url }}">

          <img src="{{ member.lastname }}.png" class="photo">

          <div class="team-info-overlay">
            <h3 class="team-info">{{ member.position }}</h3>
          </div>

          <p>{{ member.name }} {{ member.lastname }}</p>
        </a>
      </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Former Members</h2>
  <div class="team-members">
    {% for member in site.team %}
    {% if member.position == "Former" %}
      <div class="member former-member">
          <img src="{{ member.lastname }}.png" class="photo">
        <p>{{ member.name }} {{ member.lastname }}</p>
        </a>
      </div>
    {% endif %}
    {% endfor %}
  </div>

  </center>
</div>

</article>
